body{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 2%;
    padding-right: 2%;
}
section{
    padding: 2%;
}
label{
    text-align: center;
}
button{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.container{
    width: 100%;
    display: inline-flex;
    gap: 15px;
}
.grand-titre{
    text-align: center;
}
#gauche-section{
    background-color: antiquewhite;
    width: 40%;
}
#droite-section{
    background-color:darkseagreen;
    width: 60%;
}
.mini{
    background-color: cornsilk;
    border: solid 1px rgb(21, 77, 99);
}
.center-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.red{
    background-color:crimson;
    color: azure;
}
.blue{
    background-color: cornflowerblue;
    color: azure;
}