body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    padding-left: 2%;
    padding-right: 2%;
}
section{
    padding: 2%;
    border-radius: 10px;
}
label{
    font-size: larger;
}
button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
textarea{
    width: 100%;
    box-sizing: border-box;
}
input[type=number]{
    width: 20%;
    padding: 5px;
    font-size: larger;
}
.container{
    width: 100%;
    display: inline-flex;
    gap: 15px;
}
.grand-titre{
    text-align: center;
}
#gauche-section{
    background-color:#fff1e6;
    width: 40%;
}
#droite-section{
    background-color:#e2ece9;
    width: 60%;
}

.center-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.red{
    background-color:crimson;
    color: azure;
}
.blue{
    background-color: cornflowerblue;
    color: azure;
}