#checkBoxEquipe{
    width: 4em;
    height: 20px;
}
@keyframes addListe {
    0% {background-position: #198754;}
    50% { background: #8cc3a9; }
    100% {background-color: #ffffff;}
}
.bgAnimationRed{
    animation: 1.5s ease-in 0.1s 1 normal addListe;
}
